<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update Book</title>
</head>
<body>
<a href="/" style="text-decoration: none">Main Page</a> <br>
Update Book:
<form action="/updateB" method="post" th:each="book: ${allBooks}">
    <input type="text" name="title" placeholder="Please input title" th:value="${book.title}"> <br>
    <input type="text" name="description" placeholder="Please input description" th:value="${book.description}"> <br>
    <input type="number" name="price" placeholder="Please input price" th:value="${book.price}"> <br>
    <select name="authorId" th:value="${book.authorId}">
        <option th:each="author: ${allAuthors}" th:text="${author.name}" th:value="${author.id}"></option>
    </select> <br>
    <input type="submit" value="Update">
</form>

</body>
</html>